doctype html
html(lang="en")
    head
        title SIP
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        script(src="static/dep/angular.min.js")
        script(src="static/dep/mask.js")
        script(src="static/app/index.js")
        link(rel='stylesheet', href='./static/css/bulma.css')
        link(rel='stylesheet', href='./static/css/style.css')
        link(rel='stylesheet', href='./static/css/font-awesome.min.css')
    body(ng-app='sip')
        nav.nav
            .nav-left
                a.nav-item(href='#')
                    img(src='./static/imgs/telephone.svg', alt='Наше лого')
                    h1 SIP
            .nav-center
                a.nav-item(href='#')
                    span.icon
                        i.fa.fa-github
                a.nav-item(href='#')
                    span.icon
                        i.fa.fa-twitter
            span.nav-toggle
                span
                span
                span
            .nav-right.nav-menu
                a.nav-item(href='#')
                    | О продукте
                a.nav-item(href='#')
                    | Документация
        .columns(ng-controller='Actions')
            .column.is-half
                .hero.is-dark
                    .hero-body
                        .container.btns-container
                            h1.title Запросы
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(1,inp1)") Звонок 1
                                p.control.is-2
                                    input.input(type='text', placeholder='100', value='100',ng-model="inp1")
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(2,inp2)") Конфер
                                p.control.is-2
                                    input.input(type='text', placeholder='Список номеров', value='100,101',ng-model="inp2")
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(3,inp3)") Циркуляр
                                p.control.is-2
                                    input.input(type='text', placeholder='Список номеров', value='100,101',ng-model="inp3")
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(4,select1)") Положить трубку
                                .control.is-2
                                    .select.is-fullwidth
                                        select(ng-model="select1")
                                            option(value="100") Номер абонента 100
                                            option(value="1") Номер уровня доступа 1
                                            option(value="2") Номер уровня доступа 2
                                            option(value="3") Номер уровня доступа 3
                                            option(value="hangup_all") Hangup all
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(5)") Проиграть сообщение
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(6)")  Пауза плеера
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(7)")  Выключить плеер
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(8)")  Запись разговора
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(9)")  Окончание записи
                            .columns.items-container
                                a.button.is-2(ng-click="onClickBtn(10)")  Статистика
            .column.is-half.call-btn
                .hero.is-dark
                    .hero-body
                        .container.btns-container
                            .columns
                                .column
                                    h3 101
                                    a.button(ng-click="onClickBtn(11,101)")
                                            i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,101)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,101)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,101)")
                                        i.fa.fa-check
                                .column
                                    h3 201
                                    a.button(ng-click="onClickBtn(11,201)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,201)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,201)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,201)")
                                        i.fa.fa-check
                                .column
                                    h3 301
                                    a.button(ng-click="onClickBtn(11,301)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,301)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,301)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,301)")
                                        i.fa.fa-check



                            .columns
                                .column
                                    h3 102
                                    a.button(ng-click="onClickBtn(11,102)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,102)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,102)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,102)")
                                        i.fa.fa-check
                                .column
                                    h3 202
                                    a.button(ng-click="onClickBtn(11,202)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,202)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,202)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,202)")
                                        i.fa.fa-check
                                .column
                                    h3 302
                                    a.button(ng-click="onClickBtn(11,302)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,302)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,302)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,302)")
                                        i.fa.fa-check



                            .columns
                                .column
                                    h3 103
                                    a.button(ng-click="onClickBtn(11,103)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,103)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,103)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,103)")
                                        i.fa.fa-check
                                .column
                                    h3 203
                                    a.button(ng-click="onClickBtn(11,203)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,203)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,203)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,203)")
                                        i.fa.fa-check
                                .column
                                    h3 303
                                    a.button(ng-click="onClickBtn(11,303)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,303)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,303)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,303)")
                                        i.fa.fa-check



                            .columns
                                .column
                                    h3 104
                                    a.button(ng-click="onClickBtn(11,104)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,104)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,104)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,104)")
                                        i.fa.fa-check
                                .column
                                    h3 204
                                    a.button(ng-click="onClickBtn(11,204)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,204)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,204)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,204)")
                                        i.fa.fa-check
                                .column
                                    h3 304
                                    a.button(ng-click="onClickBtn(11,304)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,304)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,304)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,304)")
                                        i.fa.fa-check



                            .columns
                                .column
                                    h3 105
                                    a.button(ng-click="onClickBtn(11,105)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,105)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,105)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,105)")
                                        i.fa.fa-check
                                .column
                                    h3 205
                                    a.button(ng-click="onClickBtn(11,205)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,205)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,205)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,205)")
                                        i.fa.fa-check
                                .column
                                    h3 305
                                    a.button(ng-click="onClickBtn(11,305)")
                                        i.fa.fa-phone
                                    a.button.is-warning(ng-click="onClickBtn(12,305)")
                                        i.fa.fa-microphone-slash
                                    a.button.is-danger(ng-click="onClickBtn(4,305)")
                                        i.fa.fa-times
                                    a.button.is-success(ng-click="onClickBtn(13,305)")
                                        i.fa.fa-check



        .column
            .hero
                .hero-body
                    .container.btns-container
                        h1.title Ответ
                        .columns.is-gapless.is-multiline.is-mobile
                            .column.is-one-quarter
                                textarea.textarea.column(ng-model="resp")



