doctype html
html(lang="en")
    head
        title SIP
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        script(src="static/dep/angular.min.js")
        script(src="static/dep/mask.js")
        script(src="static/app/index.js")
        link(rel='stylesheet', href='./static/css/bulma.css')
        link(rel='stylesheet', href='./static/css/style.css')
    body(ng-app='sip')
        nav.nav
            .nav-left
                a.nav-item(href='#')
                    img(src='./static/imgs/telephone.svg', alt='Наше лого')
                    h1 SIP
            .nav-center
                a.nav-item(href='#')
                    span.icon
                        i.fa.fa-github
                a.nav-item(href='#')
                    span.icon
                        i.fa.fa-twitter
            span.nav-toggle
                span
                span
                span
            .nav-right.nav-menu
                a.nav-item(href='#')
                    | О продукте
                a.nav-item(href='#')
                    | Документация

        section.signIn.hero.is-primary(ng-controller="Auth")
            .hero-body
                .container
                    h1.title
                        | Страница входа
                    h2.subtitle
                        | Пожалуйста авторизуйтесь
                    .columns
                        .column.is-one-third.signIn-form
                            .notification.is-danger(ng-show="error")
                                button.delete
                                |   Ошибка входа
                            label.label Логин
                            p.control.has-icon.has-icon-right
                                input.input(name='login',type='text', placeholder='Введите логин', ng-model='login')
                                i.fa
                            label.label Пароль
                            p.control.has-icon.has-icon-right
                                input.input(name='pass',type='password', placeholder='Введите пароль',ng-model='pass')
                                i.fa
                            label.label Ip адрес
                            p.control.has-icon.has-icon-right
                                input.input(name='ip',type='text', ng-model="address")
                                i.fa
                            input.button.is-primary(ng-click="loginSend()",type="button",value='Войти')



